* {
  padding: 0;
  margin: 0;
}

p {
  margin-bottom: 0;
}
.header {
  background-color: rgb(39, 93, 201);

  display: flex;
  justify-content: space-around;
  align-items: center;
  
  border-bottom: #FFF 5px solid;
}

.header input {
  width: 500px;
  border-radius: 5px;
}

.box {
  width: 150px;
  background-color: #FFF;
  border: 5px;
}

.box div{
  display: flex;

  align-items: center;
  justify-content: center;
}

.btn-login {
  background-color: #FFF;
  /* width: 50px; */
}

.input-group {
  width: 550px 
}

button:hover {
  background-color: rgb(211, 211, 211);
  transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}