.app {
  display: grid;
  grid-template-columns: 250px 1fr 350px;
  grid-template-rows: 90px 430px 300px 300px 100px;

  grid-template-areas: 
    'header header header'
    'nav carousel location'
    'nav section section'
    'footer footer footer';
}

.carousel {
  grid-area: carousel;
}

.footer {
  grid-area: footer;
}

.header {
  grid-area: header;
}

.location {
   grid-area: location;
}

.logo {
  grid-area: logo;
}

.nav {
  grid-area: nav;
}

.section {
  grid-area: section;
}